<% provide(:title, "Contact") %>

<h1>お問い合わせ</h1>

<h3>お問い合わせの前にこちらもご覧ください（半ギレ）</h3>
<ul>
  <li>良くある質問</li>
  <li>困ったときは</li>
  <li>利用規約</li>
  <li>コンテンツの取り扱いについて</li>
  <li>プライバシーポリシー</li>
  <li>対応中の不具合</li>
</ul>
