<% provide(:title, "About") %>

<h2>このサイトについて</h2>

<h3> Sinsi って何の略ですか？</h3><br />
<!-- Sinsi Is Not Sakura Insta! -->
<ul>
  <h4><li>Site of INSert Images.</li></h4>
  <h4><li>Simple, INSert, Instant.</li></h4>
  <h4><li>SINSi is Shinsi(Gentleman)</li></h4>
  <h4><li>Simple Insert is Not Simple Insert.</li></h4>
  <h4><li>System for INsert to Storage of Internet.</li></h4>
</ul>
