<% provide(:title, "Contact") %>

<h2>お問い合わせ</h2>

<h3> お問い合わせの前にこちらもご覧ください<!-- （半ギレ） --></h3><br />
<ul>
  <h4><li>利用規約</li></h4>
  <h4><li>良くある質問</li></h4>
  <h4><li>困ったときは</li></h4>
  <h4><li>対応中の不具合</li></h4>
  <h4><li>プライバシーポリシー</li></h4>
  <h4><li>コンテンツの取り扱いについて</li></h4>
</ul>
