<% provide(:title, "Update") %>

<h2>手軽にアップデートしよう！</h2>

<%= render 'form', sinsi: @sinsi %>
<br />

<%= button_to "削除する", @sinsi, data: { confirm: "本当に削除しますか？" }, method: :delete %>
<br />

<%= link_to '戻る', @sinsi %>
