<% provide(:title, "Mypage") %>

<h2><%= "#{current_user.name}さんのページ" %></h2>
<br />
インサート 計 <%= "#{@sinsis} 回" %><br /><br />
コメント 計 <%= "#{@comments} 回" %><br /><br />
 <%
=begin%>
 被コメント 計 (未実装) 回
いいね！ 計 (未実装) 回
被 いいね！ 計 (未実装) 回
<%
=end%>
