body {
  background-color: rgba(255, 255, 255, 0.596);
  padding-top: 90px;
}

footer { margin-top: 100px; }

div.col-md-9 {
  background-color: rgb(254, 255, 254);}
.col-md-4 { margin-top: 60px; }
th { border-bottom: 1px solid white; }
ul.validate { list-style-position: inside; }

h2 { padding-top: 10px; }
.navbar-brand { font-size: 25px;}
div.navbar-header { padding: 10px 0 }
.navbar { font-size: 15px; }
.navbar-default .navbar-nav > li > a { margin-top: 10px; }


nav.navbar {
  min-height: 38px;
  background-color: #ffbee4;
  background-image: none;
}

.navbar a.brand:hover {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}

.error {
  font-size: 12px;
  font-weight: bold;
  color: tomato;
}

footer {
  background-color: #f7f7f7;
  padding: 10px 0;
}

#sakura {
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 0;
}

#post {
  background-color: skyblue;
}

#bbs {
  background-color: rgba(248, 245, 245, 0.527);
  border: outset 1px;
  border-color: rgb(255, 255, 255);
  padding-top: 3px;
  padding-bottom: 2px;
  padding-left: 9px;
  font-size: 16px;
}
