body { padding-top: 80px; }
footer { margin-top: 100px; }
th { border-bottom: 1px solid white; }
.col-md-4 { margin-top: 70px; }
.navbar-default .navbar-nav > li > a { margin-top: 10px; }

nav.navbar {
  min-height: 38px;
  background-color: #ffbee4;
  background-image: none;
}

.navbar-brand { font-size: 30px; }
div.navbar-header { padding: 10px 0 }
.navbar a.brand > img { font-size: 20px; }

.sakura {
  float: left;
}

.navbar a.brand:hover {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}

footer {
  background-color: #f7f7f7;
  padding: 10px 0;
}
